<!DOCTYPE html>
{% extends 'home.html' %}
{% load bootstrap4 %}
{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>artical</title>
</head>
<body>


{% block content %}


<script >
// AJAX CALL
$(document).ready(function() {
$('#like').click(function(){
    $.ajax({
             type: "POST",
             url: "{% url 'artical_m/liked'  %}",
             data: {'jax_id': $(this).attr('name'),'operation':'likeop','csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: "json",
             success: function(response) {
 					if(response.like=="login requied") {
 						$('#jax_like').text("login requied")
 					}
                    else if(response.like){
                     $( '#like' ).css({'background-color':'#007bff'});
                    }
                    else{
                     $( '#like' ).css({'background-color':'#fff'});
                    }
              }
                    });
  })
  }) ;



</script>
<script type="text/javascript">
	$(document).on('submit','#main_comment',function(e){
         e.preventDefault();
		 $.ajax({
             type: "POST",
             url: "{% url 'commentsform' artical_m.id %}",
             data: $(this).serialize(),
             dataType: "json",
             success: function(res) {
                    $('#comment_sec').html(res['form']);
 					alert("commentsadd");
              }
                    });

	});


	$(document).on('submit','#response_comment',function(e){



         e.preventDefault();
		 $.ajax({
             type: "POST",
             url: "{% url 'commentsform' artical_m.id %}",
             data: $(this).serialize(),
             dataType: "json",
             success: function(res) {
                    $('#comment_sec').html(res['form']);
 					alert("commentsadd");
              }
                    });

	});

</script>
{% include 'navbar-home.html' %}

<div class="row">

    <div class="col-md-9 p-1">
    <div class="card">
            <p ></p>
            <center style="font-size:1.9rem; background-color:"  > {{ artical_m.title }} </center>
            <center style="margin :1.4rem;">
            <p  style="display:inline-block">{{ artical_m.update_date }}</p>
            <span class="dot"></span>
            {% for tag in tags %}
            <a   href="{% url 'tags' tag %}" >{{ tag }}</a>
            {% endfor %}
                <span class="dot"></span>
                <p  style="display:inline-block">  {{ artical_m.categories }} </p>
                                <span class="dot"></span>
                <span style="font-size:1.2rem;">{{ artical_m.creater.username }}</span>

            </center>
                {% if artical_m.In_image %}
                <img src="{{ artical_m.In_image.url }}" class="img-fluid"  >
        {% endif %}

        <div>

            <!--<div class="fb-share-button" data-href="http://localhost:8000{{ artical_m.get_absolute_url }}" data-layout="button_count" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Share</a></div>
-->

            <a href="http://twitter.com/share?url=http://localhost:8000{{ artical_m.get_absolute_url }}&text={{ artical_m.title}}" class="social_btn"><img src="{% static 'img/twitter.jpg' %}" class="social_btn"></a>
            <a href="http://reddit.com/submit?url=http://localhost:8000{{ artical_m.get_absolute_url }}&text={{ artical_m.title}}" class="social_btn"><img class="social_btn" src="{% static 'img/icons8-reddit.svg' %}"></a>
            <a href="http://www.linkedin.com/shareArticle?mini=true&url=http://localhost:8000{{ artical_m.get_absolute_url }}&text={{ artical_m.title}}" class="social_btn"><img class="social_btn" src="{% static 'img/linkedin.jpg' %}"></a>
            <a href="http://www.facebook.com/sharer.php?u=http://localhost:8000{{ artical_m.get_absolute_url }}&text={{ artical_m.title}}" ><img class="social_btn" src="{% static 'img/facebook.jpg' %}"></a>
</div>
        <div class="card-body">

          <p class="blockquote" style="display:inline-block; font-family: 'Noto Sans JP ', sans-serif black;  "> {{ artical_m.said | safe }} </p>
            <article style="font-family: 'Noto Sans JP', sans-serif;"> {{ artical_m.content | safe }} </article>
        </div>
    </div>

<div id="comment_sec">
    {% include 'comments.html' %}

</div>
    </div>

    <div class="col-md-3">
        <p class="display-4" id="jax_like"></p>

        <img src="{% static 'img/like.png' %}" name="{{ artical_m.slug }}" id="like" type="button" style=" background-color:{% if like_status %}#007bff{% else %}#fff{% endif %}; size:2rem 2rem; border-radius:100%; position:fixed; z-index: 1; margin-right:2rem;">



         <div class="card" >
             <a href="{% url 'users:chatroom' artical_m.creater.username %} ">
        <div class="card-header">

            {% if artical_m.creater.profile_to.profile_image.url %}
            <img src="{{ artical_m.creater.profile_to.profile_image.url }}" class="img-fluid rounded-circle" style="width: 60px; height:60px;">
            {% endif %}
            <span style="font-size:1.2rem;">{{ artical_m.creater.username }}</span>
        </div>
             </a>
        <div class="card-body">
            <a href="{% url 'users:chatroom' artical_m.creater.username %}"> chat </a>
            <p class="display-5"> {{ artical_m.creater.profile_to.bio }} </p>
            <a href="{{ artical_m.creater.profile_to.instagram }}"> instagram </a>
                        <a href="{{ artical_m.creater.profile_to.instagram }}" class="btn"> instagram </a>
        </div>
    </div>
           <div >
        <!-- catgories -->

    {% for artical in articals %}
    {% if artical.categories == artical_m.categories %}
    <div class="card card-body">
        <a href="{% url 'artical_m' artical.slug %}">
        <div class="display-5"> {{ artical.title }}</div></a>
    <div class="display-5">
        {{ artical.said | truncatewords:20 | safe }}
    </div>

    </div>
    {% endif  %}
    {% endfor %}
    </div>
    </div>
</div>
</body>
</body>
</html>
{% endblock content %}