{% extends 'home.html' %}
{% load bootstrap4 %}
{% load static %}
{% block chats %}

{% include 'navbar-chat.html' %}
<script>

$(document).ready(function() {

var s =     '{{receiver_username}}'.toString();

var url= 'wss://'+window.location.host+'/ws/userschatroom/'+'{{request.user}}/'+s+'/';

var chatsocket = new WebSocket(url);

chatsocket.onmessage = function(e){
        var data = JSON.parse(e.data);
        var massage = data.massage;
        var $chat = $('.cha');
        if(massage.type=='chat_massage'){
                var massage_text =massage.massage;
        if(massage.sender=='{{request.user.username}}'){
        $(".cha li").last().remove();
        $chat.append('<li class="list-unstyled chateli" ><div class="chatbox bubble" style="float:right;  background-color:#007bff; " ><p >'+massage_text+'</p><div class="time">'+ massage.send_time +'</div></div></li></div>');
        }
        else{
                $chat.append('<li class="list-unstyled chateli" ><div class="chatbox bubble" style="float:left; background-color:#6c757d; " ><p >'+massage_text+'</p><div class="time">'+ massage.send_time +'</div></div></li></div>');
        }
        }
        else{
        $chat.append(' <div class="card card-body border-success  text-right"> <span> Me </span> <span>loading.....</span><h2 class="blockqoute  text-success ">   massage </h2></div>');
        }
        var last=$('.cha li').last().find('.bubble');
        $('html, body').animate({
                    scrollTop: $(last).offset().top
                }, 700);
        last.animate({'bgcolor':'#fd7e14', 'padding':'+=40px'},'fast');
        last.animate({'bgcolor':'#fd7e14', 'padding':'-=40px'},'slow');
};
chatsocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');

};
$('#chatText').click(function(){
 window.scrollTo(0, document.body.scrollHeight);
 });


$('#chatSubmit').click(function(){

        console.log('Chat socke');
        var input = $('#chatText').val();
        if(input!=""){
        $('.cha').append('<li class="list-unstyled chateli"> <div class="chatbox bubble bg-primary" style="float:right; " > <p>'+input+ '</p><div > sending... </div></div></ul>');
        chatsocket.send(JSON.stringify({'chatText':input,'sender_username':'{{request.user.username}}','receiver_username':'{{receiver_username}}' }));
        var last=$('.cha li').last().find('.bubble');
        last.focus();
        last.css({'background-color':'#fd7e14'});
        last.animate({'bg-color':'#fd7e14', 'padding':'00px'},'slow');
        last.animate({'bg-color':'#fd7e14', 'padding':'+=100px'},'fast');

        }
        else{
            alert('no text')
        }
        $('#chatText').val('');
        $('#chatText').focus();
     });
          });
</script>

<div class="wrapper">
<div id="sidebar">
    <div class="sidebar-header">
        <h4>{{ receiver.username }}</h4>
        <p style="lasts">{% if receiver.last_online_info.status %}
        online
            {% else %}
            <p class="lasts">last seen{{ receiver.last_online_info.lastLogin }}

    </p>{% endif %}
        </p>
    </div>
    {% for user in users %}
    <ul class="list-unstyled components">
                    <li>
                        <a href="{% url 'users:chatroom' user.username %}"><span>start chat</span> {{ user.username }}</a>
                    {% if user.last_online_info %}
                   <h5 class="text-success">{% if user.last_online_info.status == 1 %}
        online
            {% else %}
                       <p class="lasts" >last seen {{ user.last_online_info.lastLogin }}</p>
            {% endif %}
        </h5>
             {% endif %}
                    </li>
                </ul>
    {% endfor %}
</div>

<div id="content"  >

<ul class="cha">
    {% for chat in chats %}
    {% if chat.sender.id == request.user.id %}
<li class="list-unstyled chateli" >
<div class="chatbox bubble" style="float:right; background-color:#007bff; " >
   <p >{{ chat.chatText }}</p>
    <div class="time"> {{ chat.sender.username }} , {{ chat.send_time }}</div>
</div>
</li>
    {% else %}
    <li class="list-unstyled chateli">
<div class="  chatbox bubble " style="float:left; background-color:#6c757d;"  >
    <p class="massage">{{ chat.chatText }}</p>
    <span class="time" >{{ chat.sender.username }} {{ chat.send_time }}</span>
</div>
    </li>

    {% endif %}

  {% endfor %}
</ul>
</div>

    <div class=" fixed-bottom" style="align-items:stretch; height:20%; display:flex; ">

                <input  style="float:left; width:76%; display:inline-block; margin-top:50px; margin-left:50px;"  type="text" name="chatText" maxlength="1000" class="form-control" placeholder="ChatText" title="" required="" id="chatText">

            <button id="chatSubmit" class="btn" style="float:right; width:24%; display:inline-block; margin-top:40px; margin-left:0px; width:70px; height:70px; "  type="submit"> <img src="{% static 'img/send-24px.svg' %}"></button>
    </div>

</div>

{% endblock %}