{% extends 'home.html' %}
{% load bootstrap4 %}
{% block content %}
<script>
$(document).ready(function() {

var url= 'ws://'+window.location.host+'/ws/userschatroom/'+'{{request.user.username}}/';

var chatsocket = new WebSocket(url);

chatsocket.onmessage = function(e){

        var data = JSON.parse(e.data);
        var massage = data.massage;
        alert("comd"+massage);
        var $chat = $('#chat');
        $chat.append('<div ><h2 class="blockqoute chatAroud" > <span class="chatbubble">'+  massage +'</span> </h2></div>');

};
chatsocket.onclose = function(e) {
        console.error('Chat socket closed unexpectedly');

};

$('#chatSubmit').click(function(){

        var input = $('#chatText').val();
        alert(input);
        chatsocket.send(JSON.stringify({'chatText':input,'sender_username':'{{request.user.username}}','receiver_username':'{{receiver_username}}' }));
        $('#chatText').val('');
        $('#chatText').focus();
     });
          });
</script>
<div class=" container">
 <div  id="chat">
    {% for chat in chats %}
    {% if chat.sender.id == request.user.id %}
<div class="card card-body border-success text-right">
    <span>{{ chat.sender.username }}</span> <span>{{ chat.send_time }}</span>
    <h2 class="blockqoute  text-success "><p >  {{ chat.chatText }}</p> </h2>
</div>
    {% else %}
<div class="card card-body ">
     <span>{{ chat.sender.username }}</span> <span>{{ chat.send_time }}</span>
    <h2 class="blockqoute " > <p>  {{ chat.chatText }}</p> </h2>
</div>

    {% endif %}
{% endfor %}
 </div>
<div class="row  fixed-bottom">
    <div class="col-md-3"></div>
    <div class="col-md-6">
        <span>
            <div class="form-group">
                <label for="chatText">ChatText</label>
                <input type="text" name="chatText" maxlength="1000" class="form-control" placeholder="ChatText" title="" required="" id="chatText">
            </div></span>
    <span>
            <button id="chatSubmit" class="btn btn-success" style="align:right;" type="submit"> send</button>
    </span>
    </div>
        <div class="col-md-3"></div>


</div>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
</div>
{% endblock %}