{% extends 'home.html' %}
{% load static %}
{% block content %}
<div class="col-6">
<div class="card" id="show">
    {% for artical in articals %}
    <div class="card-header ">
        {% if artical.In_image %}
        <img src="{{ artical.In_image.url }} " height="300">
        {% endif %}
        <div  style="font:Sans;">
        <h1 style="display: inline-block; padding-left:1rem;"> {{artical.title}} </h1>
        <p style="display: inline-block; padding:1rem;">artical by- {{artical.creater.username}}</p>
        <p style="display: inline-block; padding:1rem;">artical is- {{artical.status}}</p>
            {% if user.is_authenticated %}
         <a class="btn btn-warning" href="{% url 'delete_artical' artical.id %}"> delete</a>
         <a class="btn btn-warning" href="{% url 'edits_artical' artical.id %}"> edit</a>
            {% endif %}
        </div> </div>

    <div class="card-body">
        <p class="">{{ artical.slug}}</p>
        <short> {{ artical.said | slice:" 20 :200" }} </short>
        <a href="{% url 'artical_m' artical.id %}" class="btn btn-outline-dark"> see full </a>
    </div>
{% empty %}
    <a   class="btn btn-primary" href="{% url 'create_artical' %}">create_something</a>
{% endfor %}
    </div>
</div>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-dark" href="{% url 'show_drafts' %}">
        show drafts </a>
    <ul>

    </ul>
    {% endif %}
{% endblock %}