<!DOCTYPE html>
{% load bootstrap4 %}
{% load static %}
{% load socialaccount %}

<head>
    {{ form.media }}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery='full' %}
    <div id="fb-root"></div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
          <script type="text/javascript" src="{% static 'js/like.js' %}" ></script>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v8.0" nonce="fevgPw0M"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="widht=device-widht,initial-scale=1">
    <title>blogdef</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;900&display=swap" rel="stylesheet">
</head>
<style>
    body{
    postion:relative;
    }
</style>

<div class='container-fluid' >
    <div class="pb-1 mb-4">

{% block chats %}
{% endblock chats %}
    </div>

<div class="padt">
      <div class='container-fluid' >
    <div class="pb-1 mb-4">

{% block content %}
{% endblock content %}
    </div>
      </div>
      </div>
</body>
</html>