{% extends 'show_content.html' %}
{% load static %}
{% block content %}
<div class="card" id="show">
    {% for artical in articals %}
    <div class="card-header">
        {% if artical.In_image %}
        <img src="{{ artical.In_image.url }} ">

        {% endif %}
        <h1 class="text-center"> drafts- {{artical.title}} </h1>
        <h2 class="text-center">artical by- {{artical.creater.username}}</h2>
        <h2 class="text-center">artical by- {{artical.status}}</h2>
         <a class="btn btn-warning" href="{% url 'delete_artical' artical.slug %}"> adelete it - {{artical.title}}</a>
         <a class="btn btn-primary" href="{% url 'edits_artical' artical.slug %}"> edit it - {{artical.title}}</a>
    </div>
    <div class="card-body">
        <p class="">{{ artical.slug}}</p>
        <P class=""> {{ artical.said }} </P>
        <p style="font-family: 'Noto Sans JP', sans-serif;"> {{ artical.content | safe }}</p>
    </div>
{% empty %}
  <div class="display-5"> nothing yet</div>
{% endfor %}

</div>
{% endblock content %}