{% extends 'home.html' %}
{% load static %}
{% block content %}
{% include 'navbar-home.html' %}
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>0</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>1</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>2</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>3</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>4</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>5</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>6</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>7</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>8</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>9</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>10</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>11</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>12</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>13</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>14</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>15</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>16</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>17</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>18</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>19</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>20</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>21</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>22</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>23</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>24</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>25</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>26</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>27</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>28</a>
<a href='https://www.3mae.ae/3M/en_AE/company-mea/all-3m-products/~/All-3M-Products/Communications/?N=5002385+8709315+8711017&rt=r3
'>29</a>

 <div class="row">
     <div class="col-md-3"></div>
<div class="col-md-6">
<div class="card" id="show">
    {% for artical in articals %}
    <div class="card-header ">
        {% if artical.In_image %}
        <img src="{{ artical.In_image.url }} " height="300">
        {% endif %}
        <div  style="font:Sans;">
        <p style="display: inline-block; padding-left:1rem;"> {{artical.title}} </p>
        <p style="display: inline-block; padding:1rem;">artical by- {{artical.creater.username}}</p>
        <p style="display: inline-block; padding:1rem;">artical by- {{artical.status}}</p>
                                <p style="display: inline-block; padding:1rem;">last update- {{artical.create_date}}</p>
            <p style="display: inline-block; padding:1rem;">last update- {{artical.update_date}}</p>
            {% if user.is_authenticated %}
            {% endif %}
        </div> </div>
    <div class="card-body">
        <p class="">{{ artical.slug}}</p>
        <short> {{ artical.said | slice:" 20 :200" }} </short>
        <a href="{% url 'artical_m' artical.slug %}" class="btn btn-outline-dark"> see full </a>
    </div>
{% empty %}
    <a   class="btn btn-primary" href="{% url 'create_artical' %}">create_something</a>
{% endfor %}
    </div>
    {% if user.is_authenticated %}
    <a class="btn btn-outline-dark" href="{% url 'show_drafts' %}">
        show drafts </a>
    {% endif %}
</div>



 </div>


{% endblock content %}
